<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzw.my_school.mapper.StudentMapper">
    <!--添加课程信息-->
    <insert id="addUserByClass">
        insert  into  class values(null,#{tid},#{sid})
    </insert>

    <!--删除老师-->
    <delete id="delUserByTeacher">
        delete  from teacher where #{name}=t_name
    </delete>
    <!-- 按照老师来查询学生-->
    <select id="selUserByAllstudent_teacher" resultType="com.xzw.my_school.pojo.Student">
        select s_no,s_name,birthday,sex
        from student,class,teacher
        where class.t_id=#{tid} and student.s_no=class.s_id and class.t_id=teacher.t_id
    </select>

</mapper>
